# infrastructure packages
brainunit==0.5.0
brainevent==0.1.0
brainstate==0.5.0
braintools==0.1.10
braintrace==0.2.0

# modeling packages
braincell==0.1.0
brainpy==2.7.8
brainpy-state==0.1.0
brainmass==0.0.5
pinnx==0.0.3

# dependencies
numpy>=2.4.4
jax<=0.10.1,>=0.7.1
msgpack>=1.1.2
matplotlib
